.page {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: $white-color;
  color: $text-mobile-color;
}
